div.ex1{
	width: 1000px;
	padding-top: 20px;
	text-align: center;
	color:black;
	display: flex;
	justify-content: space-between;
}

h2 {
	padding-left: 10px solid;
	text-align: left;
    color:royalblue;
}